body,
html {
  margin: 0px;
  padding: 0px;
}
:root {
  --grayColor: rgba(243, 244, 246);
  --white: #fff;
  --primary: rgba(0, 159, 127);
  --primaryHover: rgba(1, 147, 118);
  --color888: #888;
  --colorDDD: #ddd
}

.enable_backdrop {
  max-height: 100vh;
  overflow: hidden;
}
@font-face {
  font-family: "PT-Bold";
  src: url("../../assets/font/PTSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "PT-Bold-Italic";
  src: url("../../assets/font/PTSerif-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PT-Italic";
  src: url("../../assets/font/PTSerif-Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "PT-Regular";
  src: url("../../assets/font/PTSerif-Regular.ttf") format("truetype");
}

a {
  text-decoration: none !important;
}
.font_family_bold {
  font-family: "PT-Bold";
}
.font_family_bold_italic {
  font-family: "PT-Bold-Italic";
}
.font_family_italic {
  font-family: "PT-Italic";
}
.font_family_Regular {
  font-family: "PT-Regular";
}
.font11 {
  font-size: 11px;
}
.font12 {
  font-size: 12px;
}
.font13 {
  font-size: 13px;
}
.font14 {
  font-size: 14px !important;
}
.font15 {
  font-size: 15px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font25 {
  font-size: 25px;
}
.icon50x50 {
  width: 50px;
  height: 50px;
}
.icon40x40 {
  width: 40px;
  height: 40px;
}
.icon30x30 {
  width: 30px;
  height: 30px;
}
.icon25x25 {
  width: 25px;
  height: 25px;
}
.icon20x20 {
  width: 20px;
  height: 20px;
}
.icon15x15 {
  width: 15px;
  height: 15px;
}
.border_gray_1px {
  border: 1px solid var(--grayColor);
}
.border_top_gray_1px {
  border-top: 1px solid #ddd;
}
.border_dashed_gray_2px {
  border: 2px dashed var(--grayColor);
}
.outline_gray_1px {
  outline: 1px solid var(--grayColor);
}
.border_radius_3 {
  border-radius: 3px;
}
.border_radius_5 {
  border-radius: 5px;
}
.border_radius_10 {
  border-radius: 10px;
}
.border_radius_20 {
  border-radius: 20px;
}
.bg_white {
  background-color: #fff;
}
.bg_black {
  background-color: #000;
}
.bg_gray {
  background-color: var(--grayColor);
}
.bg_888 {
  background-color: var(--color888);
}
.bg_ddd{
  background-color: var(--colorDDD);
}
.color_white {
  color: #fff !important;
}
.color_888 {
  color: #888888;
}
.color_red {
  color: #f55858;
}
.color_primary {
  color: var(--primary);
}
.color_primary_hover {
  color: var(--primaryHover);
}
.color_gray {
  color: var(--grayColor);
}
.bg_primary {
  background-color: var(--primary) !important;
}
.bg_primary_hover {
  background-color: var(--primaryHover);
}
.bg_red {
  background-color: rgba(254, 226, 226);
}
.w100_per {
  width: 100%;
}
.w50_per {
  width: 50%;
}
.h40_px {
  height: 40px;
}
.h100_per {
  height: 100%;
}
.h100_screen {
  height: 100vh;
}
.top0 {
  top: 0px;
}
.left0 {
  left: 0px;
}
.right0 {
  right: 0px;
}
.cursor_pointer {
  cursor: pointer;
}
.m_10px {
  margin: 10px;
}
.ml_20px {
  margin-left: 20px;
}
.ml_10px {
  margin-left: 10px;
}
.ml_5px {
  margin-left: 5px;
}
.mr_20px {
  margin-right: 20px;
}
.mr_10px {
  margin-right: 10px;
}
.mr_5px {
  margin-right: 5px;
}
.p_5px {
  padding: 5px;
}
.box_shadow_dropdown {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.box_shadow_card {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.divider_vertical_solid {
  width: 100%;
  border-top: 1px solid #888;
  height: 1px;
}
.divider_vertical_dashed {
  width: 100%;
  border-top: 1px dashed #888;
  height: 1px;
}
.menu_item,
.box_profile_item a {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.box_profile {
  transition: 0.25s;
  opacity: 0;
  background-color: var(--white);
  margin-top: 5px;
  position: absolute;
  pointer-events: none;
  width: 180px;
}
.show.box_profile {
  opacity: 1;
  pointer-events: all;
}
input[type="text"] {
  padding: 0px 15px;
  border: 1px solid var(--color888);
  border-radius: 3px;
  font-family: "PT-Regular";
  transition: 0.25s ease-in-out;
  color: var(--color888);
}
input[type="text"]:focus {
  outline: 0px;
  box-shadow: 0px !important;
  border: 1px solid var(--primaryHover);
}
.btn:focus {
  box-shadow: none !important;
}
.row > * {
  padding: 0px !important;
}
.col {
  padding: 0px !important;
  margin: 0px;
}
.choose_image_large {
  border: 1px dashed #888;
}
